{
  "openapi": "3.1.0",
  "info": {
    "title": "CarSell API",
    "version": "1.0.0",
    "description": "Generated from the route tree and the Zod schemas in each route. Do not edit by hand — run `npm run docs:generate`."
  },
  "servers": [
    {
      "url": "https://carsell.one"
    }
  ],
  "components": {
    "securitySchemes": {
      "user": {
        "type": "apiKey",
        "in": "cookie",
        "name": "carsell_session"
      },
      "admin": {
        "type": "apiKey",
        "in": "cookie",
        "name": "carsell_admin"
      }
    }
  },
  "paths": {
    "/api/cron/run": {
      "post": {
        "summary": "POST /api/cron/run",
        "tags": [
          "run"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/dev/media/{key}": {
      "get": {
        "summary": "GET /api/dev/media/{key}",
        "tags": [
          "media"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/dev/sandbox/3ds/{ref}": {
      "get": {
        "summary": "GET /api/dev/sandbox/3ds/{ref}",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "post": {
        "summary": "POST /api/dev/sandbox/3ds/{ref}",
        "tags": [
          "sandbox"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "GET /api/health",
        "tags": [
          "root"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/public/v1/dealers": {
      "get": {
        "summary": "GET /api/public/v1/dealers",
        "tags": [
          "v1"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/public/v1/listings": {
      "get": {
        "summary": "GET /api/public/v1/listings",
        "tags": [
          "v1"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/public/v1/listings/{ref}": {
      "get": {
        "summary": "GET /api/public/v1/listings/{ref}",
        "tags": [
          "v1"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/account/tax-status": {
      "put": {
        "summary": "PUT /api/v1/account/tax-status",
        "tags": [
          "account"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "INDIVIDUAL",
                      "VAT_REGISTERED"
                    ]
                  },
                  "vatNumber": {
                    "type": "string",
                    "maxLength": 40
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/auth/login": {
      "post": {
        "summary": "POST /api/v1/admin/auth/login",
        "tags": [
          "admin"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/auth/logout": {
      "post": {
        "summary": "POST /api/v1/admin/auth/logout",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/body-types/{key}": {
      "patch": {
        "summary": "PATCH /api/v1/admin/body-types/{key}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nameAr": {
                    "type": "string",
                    "maxLength": 60
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 60
                  },
                  "imageUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "sort": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 999
                  },
                  "visible": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/brands": {
      "get": {
        "summary": "GET /api/v1/admin/brands",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "post": {
        "summary": "POST /api/v1/admin/brands",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "slug": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "logoUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "visible": {
                    "type": "boolean"
                  },
                  "sort": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9999
                  }
                },
                "required": [
                  "nameAr",
                  "nameEn"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/brands/{id}": {
      "patch": {
        "summary": "PATCH /api/v1/admin/brands/{id}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "slug": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "logoUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "visible": {
                    "type": "boolean"
                  },
                  "sort": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9999
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/v1/admin/brands/{id}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "slug": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "logoUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "visible": {
                    "type": "boolean"
                  },
                  "sort": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9999
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/commission": {
      "put": {
        "summary": "PUT /api/v1/admin/commission",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "finance.view",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "side": {
                    "type": "string",
                    "enum": [
                      "BUYER",
                      "SELLER"
                    ]
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "pct": {
                    "type": "number",
                    "minimum": 0
                  },
                  "fixedFee": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000
                  },
                  "minFee": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000,
                    "nullable": true
                  },
                  "maxFee": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000,
                    "nullable": true
                  }
                },
                "required": [
                  "side",
                  "enabled",
                  "pct",
                  "fixedFee",
                  "minFee",
                  "maxFee"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/deadlines": {
      "put": {
        "summary": "PUT /api/v1/admin/deadlines",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "finance.view",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 60
                  },
                  "value": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100000
                  }
                },
                "required": [
                  "key",
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/dealers/{id}": {
      "post": {
        "summary": "POST /api/v1/admin/dealers/{id}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "users.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "decision": {
                    "type": "string",
                    "enum": [
                      "VERIFY",
                      "SUSPEND",
                      "REINSTATE"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 2000,
                    "nullable": true
                  }
                },
                "required": [
                  "decision"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/disputes/{id}/approve": {
      "post": {
        "summary": "POST /api/v1/admin/disputes/{id}/approve",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "escrow.release",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/disputes/{id}/propose": {
      "post": {
        "summary": "POST /api/v1/admin/disputes/{id}/propose",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "escrow.release",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "FULL_REFUND",
                      "PARTIAL_SETTLEMENT",
                      "RELEASE_TO_SELLER"
                    ]
                  },
                  "amount": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100000000
                  }
                },
                "required": [
                  "resolution"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/features": {
      "get": {
        "summary": "GET /api/v1/admin/features",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "post": {
        "summary": "POST /api/v1/admin/features",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "group": {
                    "type": "string",
                    "enum": [
                      "SAFETY",
                      "COMFORT",
                      "TECH"
                    ]
                  },
                  "sort": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9999
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "placements": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "key",
                  "nameAr",
                  "nameEn",
                  "group"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/features/{key}": {
      "patch": {
        "summary": "PATCH /api/v1/admin/features/{key}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "group": {
                    "type": "string",
                    "enum": [
                      "SAFETY",
                      "COMFORT",
                      "TECH"
                    ]
                  },
                  "sort": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9999
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "placements": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/v1/admin/features/{key}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "group": {
                    "type": "string",
                    "enum": [
                      "SAFETY",
                      "COMFORT",
                      "TECH"
                    ]
                  },
                  "sort": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9999
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "placements": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/finance/inputs": {
      "put": {
        "summary": "PUT /api/v1/admin/finance/inputs",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "finance.view",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "month": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "value": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "month",
                  "key",
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/identity/{userId}": {
      "post": {
        "summary": "POST /api/v1/admin/identity/{userId}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "identity.review",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "decision": {
                    "type": "string",
                    "enum": [
                      "VERIFY",
                      "CLARIFY",
                      "REJECT"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 2000,
                    "nullable": true
                  }
                },
                "required": [
                  "decision"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/integrations/{key}/approve": {
      "post": {
        "summary": "POST /api/v1/admin/integrations/{key}/approve",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "integrations.rotateKeys",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/integrations/{key}/rotate": {
      "post": {
        "summary": "POST /api/v1/admin/integrations/{key}/rotate",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "integrations.rotateKeys",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "env": {
                    "type": "string",
                    "enum": [
                      "TEST",
                      "LIVE"
                    ]
                  },
                  "secrets": {
                    "type": "object"
                  }
                },
                "required": [
                  "env",
                  "secrets"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/listings/{ref}/review": {
      "post": {
        "summary": "POST /api/v1/admin/listings/{ref}/review",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "listings.review",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "decision": {
                    "type": "string",
                    "enum": [
                      "APPROVE",
                      "RETURN",
                      "REJECT"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 2000,
                    "nullable": true
                  }
                },
                "required": [
                  "decision"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/models": {
      "get": {
        "summary": "GET /api/v1/admin/models",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "post": {
        "summary": "POST /api/v1/admin/models",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brandId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "yearFrom": {
                    "type": "integer"
                  },
                  "yearTo": {
                    "type": "integer",
                    "nullable": true
                  },
                  "bodyType": {
                    "type": "string",
                    "enum": [
                      "SEDAN",
                      "SUV",
                      "PICKUP",
                      "HATCHBACK",
                      "COUPE",
                      "VAN"
                    ],
                    "nullable": true
                  },
                  "visible": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "brandId",
                  "nameAr",
                  "nameEn",
                  "yearFrom"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/models/{id}": {
      "patch": {
        "summary": "PATCH /api/v1/admin/models/{id}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "yearFrom": {
                    "type": "integer"
                  },
                  "yearTo": {
                    "type": "integer",
                    "nullable": true
                  },
                  "bodyType": {
                    "type": "string",
                    "enum": [
                      "SEDAN",
                      "SUV",
                      "PICKUP",
                      "HATCHBACK",
                      "COUPE",
                      "VAN"
                    ],
                    "nullable": true
                  },
                  "visible": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/v1/admin/models/{id}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "yearFrom": {
                    "type": "integer"
                  },
                  "yearTo": {
                    "type": "integer",
                    "nullable": true
                  },
                  "bodyType": {
                    "type": "string",
                    "enum": [
                      "SEDAN",
                      "SUV",
                      "PICKUP",
                      "HATCHBACK",
                      "COUPE",
                      "VAN"
                    ],
                    "nullable": true
                  },
                  "visible": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/notifications/{key}": {
      "patch": {
        "summary": "PATCH /api/v1/admin/notifications/{key}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "notifications.manage",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subjectAr": {
                    "type": "string",
                    "maxLength": 200,
                    "nullable": true
                  },
                  "subjectEn": {
                    "type": "string",
                    "maxLength": 200,
                    "nullable": true
                  },
                  "bodyAr": {
                    "type": "string",
                    "maxLength": 2000,
                    "nullable": true
                  },
                  "bodyEn": {
                    "type": "string",
                    "maxLength": 2000,
                    "nullable": true
                  },
                  "smsAr": {
                    "type": "string",
                    "maxLength": 600,
                    "nullable": true
                  },
                  "smsEn": {
                    "type": "string",
                    "maxLength": 600,
                    "nullable": true
                  },
                  "variables": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "channelEmail": {
                    "type": "boolean"
                  },
                  "channelSms": {
                    "type": "boolean"
                  },
                  "channelPush": {
                    "type": "boolean"
                  },
                  "channelInApp": {
                    "type": "boolean"
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "critical",
                      "high",
                      "normal"
                    ]
                  },
                  "active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/orders/{ref}/settle": {
      "post": {
        "summary": "POST /api/v1/admin/orders/{ref}/settle",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "escrow.release",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/payments/processing-fee": {
      "put": {
        "summary": "PUT /api/v1/admin/payments/processing-fee",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "finance.view",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "bearer": {
                    "type": "string",
                    "enum": [
                      "SELLER",
                      "BUYER"
                    ]
                  },
                  "pct": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "fixed": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100000
                  }
                },
                "required": [
                  "enabled",
                  "bearer",
                  "pct",
                  "fixed"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/payments/reconciliation/{gateway}/{date}": {
      "get": {
        "summary": "GET /api/v1/admin/payments/reconciliation/{gateway}/{date}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "finance.view",
        "parameters": [
          {
            "name": "gateway",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/payments/routes/{purpose}": {
      "post": {
        "summary": "POST /api/v1/admin/payments/routes/{purpose}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "finance.view",
        "parameters": [
          {
            "name": "purpose",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "toGatewayKey": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "toEnvironment": {
                    "type": "string",
                    "enum": [
                      "TEST",
                      "LIVE"
                    ]
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 400
                  }
                },
                "required": [
                  "toGatewayKey",
                  "toEnvironment",
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/payments/routes/{purpose}/approve": {
      "post": {
        "summary": "POST /api/v1/admin/payments/routes/{purpose}/approve",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "finance.view",
        "parameters": [
          {
            "name": "purpose",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/payments/routes/{purpose}/choices": {
      "get": {
        "summary": "GET /api/v1/admin/payments/routes/{purpose}/choices",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "finance.view",
        "parameters": [
          {
            "name": "purpose",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/reports/{ref}": {
      "post": {
        "summary": "POST /api/v1/admin/reports/{ref}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "reports.handle",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "REVIEW_LISTING",
                      "DISMISS",
                      "ACTIONED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 2000,
                    "nullable": true
                  }
                },
                "required": [
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/services": {
      "post": {
        "summary": "POST /api/v1/admin/services",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "services.manage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "PRE_PURCHASE",
                      "POST_PURCHASE",
                      "SELLER"
                    ]
                  },
                  "nameAr": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "descAr": {
                    "type": "string",
                    "maxLength": 600
                  },
                  "descEn": {
                    "type": "string",
                    "maxLength": 600
                  },
                  "price": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000
                  },
                  "slaHours": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 8760,
                    "nullable": true
                  },
                  "placements": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "adminFeeEnabled": {
                    "type": "boolean"
                  },
                  "adminFee": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000
                  }
                },
                "required": [
                  "key",
                  "category",
                  "nameAr",
                  "nameEn",
                  "descAr",
                  "descEn",
                  "price",
                  "slaHours",
                  "placements",
                  "adminFeeEnabled",
                  "adminFee"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/services/{key}": {
      "patch": {
        "summary": "PATCH /api/v1/admin/services/{key}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "services.manage",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "move": {
                    "type": "string",
                    "enum": [
                      "up",
                      "down"
                    ]
                  },
                  "nameAr": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "descAr": {
                    "type": "string",
                    "maxLength": 600
                  },
                  "descEn": {
                    "type": "string",
                    "maxLength": 600
                  },
                  "slaHours": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 8760,
                    "nullable": true
                  },
                  "placements": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "adminFeeEnabled": {
                    "type": "boolean"
                  },
                  "adminFee": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/tax/rules/{id}": {
      "patch": {
        "summary": "PATCH /api/v1/admin/tax/rules/{id}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "finance.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "taxableBase": {
                    "type": "string",
                    "enum": [
                      "FULL_VALUE",
                      "MARGIN",
                      "FEE_ONLY",
                      "OUT_OF_SCOPE"
                    ]
                  },
                  "ratePct": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100,
                    "nullable": true
                  },
                  "invoiceIssuer": {
                    "type": "string",
                    "enum": [
                      "PLATFORM",
                      "SELLER",
                      "PLATFORM_ON_BEHALF",
                      "NONE"
                    ]
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 600,
                    "nullable": true
                  }
                },
                "required": [
                  "taxableBase",
                  "ratePct",
                  "invoiceIssuer",
                  "active",
                  "note"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "post": {
        "summary": "POST /api/v1/admin/tax/rules/{id}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "finance.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "taxableBase": {
                    "type": "string",
                    "enum": [
                      "FULL_VALUE",
                      "MARGIN",
                      "FEE_ONLY",
                      "OUT_OF_SCOPE"
                    ]
                  },
                  "ratePct": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100,
                    "nullable": true
                  },
                  "invoiceIssuer": {
                    "type": "string",
                    "enum": [
                      "PLATFORM",
                      "SELLER",
                      "PLATFORM_ON_BEHALF",
                      "NONE"
                    ]
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 600,
                    "nullable": true
                  }
                },
                "required": [
                  "taxableBase",
                  "ratePct",
                  "invoiceIssuer",
                  "active",
                  "note"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/trims": {
      "get": {
        "summary": "GET /api/v1/admin/trims",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "post": {
        "summary": "POST /api/v1/admin/trims",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "modelId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "yearFrom": {
                    "type": "integer"
                  },
                  "yearTo": {
                    "type": "integer",
                    "nullable": true
                  },
                  "bodyType": {
                    "type": "string",
                    "enum": [
                      "SEDAN",
                      "SUV",
                      "PICKUP",
                      "HATCHBACK",
                      "COUPE",
                      "VAN"
                    ]
                  },
                  "transmission": {
                    "type": "string",
                    "enum": [
                      "AUTOMATIC",
                      "MANUAL",
                      "CVT",
                      "DCT"
                    ]
                  },
                  "fuel": {
                    "type": "string",
                    "enum": [
                      "PETROL",
                      "DIESEL",
                      "HYBRID",
                      "ELECTRIC"
                    ]
                  },
                  "drivetrain": {
                    "type": "string",
                    "enum": [
                      "FWD",
                      "RWD",
                      "AWD",
                      "FOUR_WD"
                    ]
                  },
                  "seats": {
                    "type": "integer"
                  },
                  "doors": {
                    "type": "integer"
                  },
                  "engineL": {
                    "type": "string",
                    "nullable": true
                  },
                  "cylinders": {
                    "type": "integer",
                    "nullable": true
                  },
                  "horsepower": {
                    "type": "integer",
                    "nullable": true
                  },
                  "visible": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "modelId",
                  "nameAr",
                  "nameEn",
                  "yearFrom",
                  "bodyType",
                  "transmission",
                  "fuel",
                  "drivetrain",
                  "seats",
                  "doors"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/trims/{id}": {
      "patch": {
        "summary": "PATCH /api/v1/admin/trims/{id}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "yearFrom": {
                    "type": "integer"
                  },
                  "yearTo": {
                    "type": "integer",
                    "nullable": true
                  },
                  "bodyType": {
                    "type": "string",
                    "enum": [
                      "SEDAN",
                      "SUV",
                      "PICKUP",
                      "HATCHBACK",
                      "COUPE",
                      "VAN"
                    ]
                  },
                  "transmission": {
                    "type": "string",
                    "enum": [
                      "AUTOMATIC",
                      "MANUAL",
                      "CVT",
                      "DCT"
                    ]
                  },
                  "fuel": {
                    "type": "string",
                    "enum": [
                      "PETROL",
                      "DIESEL",
                      "HYBRID",
                      "ELECTRIC"
                    ]
                  },
                  "drivetrain": {
                    "type": "string",
                    "enum": [
                      "FWD",
                      "RWD",
                      "AWD",
                      "FOUR_WD"
                    ]
                  },
                  "seats": {
                    "type": "integer"
                  },
                  "doors": {
                    "type": "integer"
                  },
                  "engineL": {
                    "type": "string",
                    "nullable": true
                  },
                  "cylinders": {
                    "type": "integer",
                    "nullable": true
                  },
                  "horsepower": {
                    "type": "integer",
                    "nullable": true
                  },
                  "visible": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/v1/admin/trims/{id}",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nameAr": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "nameEn": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "yearFrom": {
                    "type": "integer"
                  },
                  "yearTo": {
                    "type": "integer",
                    "nullable": true
                  },
                  "bodyType": {
                    "type": "string",
                    "enum": [
                      "SEDAN",
                      "SUV",
                      "PICKUP",
                      "HATCHBACK",
                      "COUPE",
                      "VAN"
                    ]
                  },
                  "transmission": {
                    "type": "string",
                    "enum": [
                      "AUTOMATIC",
                      "MANUAL",
                      "CVT",
                      "DCT"
                    ]
                  },
                  "fuel": {
                    "type": "string",
                    "enum": [
                      "PETROL",
                      "DIESEL",
                      "HYBRID",
                      "ELECTRIC"
                    ]
                  },
                  "drivetrain": {
                    "type": "string",
                    "enum": [
                      "FWD",
                      "RWD",
                      "AWD",
                      "FOUR_WD"
                    ]
                  },
                  "seats": {
                    "type": "integer"
                  },
                  "doors": {
                    "type": "integer"
                  },
                  "engineL": {
                    "type": "string",
                    "nullable": true
                  },
                  "cylinders": {
                    "type": "integer",
                    "nullable": true
                  },
                  "horsepower": {
                    "type": "integer",
                    "nullable": true
                  },
                  "visible": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/trims/{id}/features": {
      "put": {
        "summary": "PUT /api/v1/admin/trims/{id}/features",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/uploads/sign": {
      "post": {
        "summary": "POST /api/v1/admin/uploads/sign",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "catalog.uploadLogo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "brand-logo",
                      "dealer-logo",
                      "listing-image"
                    ]
                  },
                  "contentType": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "contentLength": {
                    "type": "integer"
                  },
                  "fileName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "kind",
                  "contentType",
                  "contentLength",
                  "fileName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/admin/users/{id}/identity": {
      "post": {
        "summary": "POST /api/v1/admin/users/{id}/identity",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "admin": []
          }
        ],
        "x-permission": "users.viewIdentity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/auctions/{ref}": {
      "get": {
        "summary": "GET /api/v1/auctions/{ref}",
        "tags": [
          "auctions"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/auctions/{ref}/bids": {
      "post": {
        "summary": "POST /api/v1/auctions/{ref}/bids",
        "tags": [
          "auctions"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/auth/otp/request": {
      "post": {
        "summary": "POST /api/v1/auth/otp/request",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/auth/otp/verify": {
      "post": {
        "summary": "POST /api/v1/auth/otp/verify",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "challengeId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "code": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 12
                  }
                },
                "required": [
                  "challengeId",
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/client-error": {
      "post": {
        "summary": "POST /api/v1/client-error",
        "tags": [
          "client-error"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "digest": {
                    "type": "string",
                    "maxLength": 80,
                    "nullable": true
                  }
                },
                "required": [
                  "message",
                  "digest"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/listings": {
      "get": {
        "summary": "GET /api/v1/listings",
        "tags": [
          "listings"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "post": {
        "summary": "POST /api/v1/listings",
        "tags": [
          "listings"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/listings/{ref}": {
      "get": {
        "summary": "GET /api/v1/listings/{ref}",
        "tags": [
          "listings"
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/listings/images": {
      "post": {
        "summary": "POST /api/v1/listings/images",
        "tags": [
          "listings"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "summary": "GET /api/v1/me",
        "tags": [
          "me"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/me/entitlements": {
      "get": {
        "summary": "GET /api/v1/me/entitlements",
        "tags": [
          "me"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/me/profile": {
      "patch": {
        "summary": "PATCH /api/v1/me/profile",
        "tags": [
          "me"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/models": {
      "get": {
        "summary": "GET /api/v1/models",
        "tags": [
          "models"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/offers": {
      "post": {
        "summary": "POST /api/v1/offers",
        "tags": [
          "offers"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listingRef": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "amount": {
                    "type": "integer",
                    "maximum": 100000000
                  }
                },
                "required": [
                  "listingRef",
                  "amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/offers/{id}": {
      "patch": {
        "summary": "PATCH /api/v1/offers/{id}",
        "tags": [
          "offers"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/orders": {
      "post": {
        "summary": "POST /api/v1/orders",
        "tags": [
          "orders"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listingRef": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  }
                },
                "required": [
                  "listingRef"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/orders/{ref}": {
      "patch": {
        "summary": "PATCH /api/v1/orders/{ref}",
        "tags": [
          "orders"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/orders/{ref}/disputes": {
      "post": {
        "summary": "POST /api/v1/orders/{ref}/disputes",
        "tags": [
          "orders"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/payments": {
      "post": {
        "summary": "POST /api/v1/payments",
        "tags": [
          "payments"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderRef": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 40
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "mada",
                      "visa",
                      "mastercard",
                      "applepay"
                    ]
                  },
                  "returnUrl": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "orderRef",
                  "method",
                  "returnUrl"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/reports": {
      "post": {
        "summary": "POST /api/v1/reports",
        "tags": [
          "reports"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetType": {
                    "type": "string",
                    "enum": [
                      "listing",
                      "user"
                    ]
                  },
                  "targetId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "reason": {
                    "type": "string",
                    "enum": []
                  },
                  "details": {
                    "type": "string",
                    "maxLength": 2000
                  }
                },
                "required": [
                  "targetType",
                  "targetId",
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/trims": {
      "get": {
        "summary": "GET /api/v1/trims",
        "tags": [
          "trims"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/trims/{id}": {
      "get": {
        "summary": "GET /api/v1/trims/{id}",
        "tags": [
          "trims"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/vin/lookup": {
      "post": {
        "summary": "POST /api/v1/vin/lookup",
        "tags": [
          "vin"
        ],
        "security": [
          {
            "user": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/api/v1/webhooks/payments": {
      "post": {
        "summary": "POST /api/v1/webhooks/payments",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    }
  }
}
